.sanity {
  p {
    font-size: 20px;
  }

  h3 {
    font-size: 45px;
    font-weight: 700;
  }

  &.prices {
    span:nth-child(2) {
      text-decoration: line-through;
      margin-bottom: 50px;
    }
  }
}
