// ------------------------------------------------------------
// Define your main colour palette using whatever naming system you like
// ------------------------------------------------------------

$white: #ffffff;
$black: #000005;
$lightblack: #1a1a1d;
$grey: #f0f0f0;
$blue: #0050a0;
$lightblue: #0080c9;
$lightgreen: #6ad985;
$red: #fc4747;
$green: #3a9e52;
$darkgrey: #cecece;

$easeIn: cubic-bezier(0.895, 0.03, 0.685, 0.22); /* easeInQuart */
$easeOut: cubic-bezier(0.165, 0.84, 0.44, 1); /* easeOutQuart */
$easeInOut: cubic-bezier(0.77, 0, 0.175, 1); /* easeInOutQuart */

@mixin base_transition($property: opacity, $duration: 0.4s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easeInOut;
}
