// ------------------------------------------------------------
// Forms
// ------------------------------------------------------------

.contact-label {
  color: $grey;
  margin: 0 0 2px 0;
}

.contact-field {
  margin-bottom: 1.25rem;
}

input[type="submit"] {
  &:active,
  &:focus,
  &:hover {
  }
}

.req {
  color: $red;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background: rgba($black, 0.8);
  border: none;
  -webkit-appearance: none;
  border: 2px solid rgba($grey, 0.5);
  padding: 8px 10px;
  border-radius: 5px;
  color: $grey;
  @include base_transition();

  &:active,
  &:focus,
  &:hover {
    //background: $white;
    color: $white;
    border: 2px solid $white;
  }
}

textarea {
  height: 100%;
  display: block;
}

.select-wrap {
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background: rgba($grey, 1);
    position: absolute;
    right: 15px;
    top: 50%;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
    right: 21px;
  }
}

select {
  width: 100%;
  background: rgba($black, 0.8);
  border: none;
  -webkit-appearance: none;
  border: 2px solid rgba($grey, 0.5);
  padding: 8px 10px;
  border-radius: 5px;
  color: $grey;
  @include base_transition();

  option {
    background: $white;
    color: $black;
  }
}

.error {
  color: $red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
}

input[type="submit"] {
  border: none;
  color: $white;
  margin-left: auto;
  font-size: 30px;
  padding: 10px 0;
  @include base_transition();
  -webkit-appearance: none;
  background: none;
  cursor: none;

  &:active,
  &:focus,
  &:hover {
    cursor: none;
  }
}

.submit-value {
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.checkbox-outer {
  margin-top: 30px;

  a {
    color: $grey;
    text-decoration: underline;
  }
}

/* Customize the label (the container) */
.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  width: auto;
  margin-right: 15px;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  //background-color: $white;
  border: 2px solid rgba($grey, 0.42);
  @include base_transition();
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: $white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  @include base_transition();
  transform: scale(0.8);
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
  opacity: 1;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  transform: scale(1) rotate(45deg);
}
