#iubenda-pp-overlay {
  z-index: 10500 !important;
}

#iubenda-pp {
  z-index: 11000 !important;
}

#iubenda-cs-banner {
  bottom: 15px !important;
  left: 0px !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 4999 !important;
  pointer-events: none;

  @include media-breakpoint-up(md) {
    bottom: 34px !important;
  }
}

.iubenda-cs-content {
  display: block;
  padding: 10px 15px;
  width: auto;
  font-size: 16px;
  //font-weight: 700;
  background: $black;
  border: 1px solid $white;
  color: $white;
  width: 90%;
  max-width: 300px;
  position: relative;
  margin: 0 0 0 0;
  pointer-events: all;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
   margin: 0 auto 0 30px;
  }
  
  @include media-breakpoint-up(lg) {
    //background: none;
  }

  @include media-breakpoint-up(xl) {
  }
}

.iubenda-cs-rationale {
  max-width: 900px;
}

.iubenda-banner-content {
  p {
    font-size: 16px;
    margin: 0;
  }

  & > p {
  line-height: 1.4;
  }
}

.iubenda-cs-close-btn {
  margin:0;
  color: $white;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  //background: $white;
  height: 100%;
  width: 60px;
  text-align: center;
  padding: 10px 0 8px;

  &:hover, &:active, &:focus {
    color: $white;
    text-decoration: none;
  }
}

.iubenda-cs-cookie-policy-lnk {
  text-decoration: underline;
  color: $black;
  font-size: 16px;
}

.iub_content {

  .iub_header {
    display: none;
  }

  a {
    color: $black;
    text-decoration: underline;
    @include base_transition();

    &:hover, &:active, &:focus {
      //color: $ocra;
    }
  }

  h2 {
    text-align: left !important;
    font-variant: normal !important
  }

  .for_boxes {
    padding: 0 0 0 20px;

    &.cf {
      padding: 0 0 0 0;
      list-style: none;
    }

    li {
      text-align: start;
    }
  }
}

.iub_header {
  h1 {
    display: none;
  }
}