// ------------------------------------------------------------
// Structure
// ------------------------------------------------------------

main {
  min-height: 100vh;
}

/* container */

.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;

  @include media-breakpoint-down(sm) {
    &.no-margin {
      padding: 0;
    }
  }
}

.page--wrap {
  width: 100%;
  overflow: hidden;
  //z-index: 1;
  //position: relative;
  //opacity: 0;

  &.errore {
    opacity: 1;
  }

  &.home {
    /* @include media-breakpoint-up(md) {
      height: 100vh;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    } */
  }

  &.is-done {
    opacity: 1;
  }
}

/* svg-wrapper */

.svg-wrapper {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 100%;
  /* SQUARED */
  @include base_transition();

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
  }
}

.module {
  padding: 0 0 30px 0;

  @include media-breakpoint-up(md) {
    padding: 0 0 60px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 0 90px 0;
  }
}

/* btn */

.btn {
  display: inline-block;
  border-radius: 1.5rem;
  @include base_transition();
  padding: 0.5rem 3rem 0.5rem 3rem;
  text-transform: uppercase;
  font-size: 0.95rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $white;
  border: 2px solid $lightblue;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  min-width: 220px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -10%;
    left: 0;
    width: 70%;
    height: 120%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0) 65%
    );
    transform: translate(-100%, 0) rotate(-10deg);
    @include base_transition();
    transition-duration: 0.6s;
  }

  &:hover,
  &:active,
  &:focus {
    color: $lightblue;

    &:after {
      transform: translate(170%, 0) rotate(7deg);
      transition-duration: 1s;
    }
  }

  &.full {
    background: $lightblue;

    span {
      @include base_transition();
      transition-duration: 0.5s;
    }

    &:after {
    }

    &:hover,
    &:active,
    &:focus {
      background: none;
      color: $lightblue;

      span {
        color: $lightblue;
      }
    }

    &.white {
      background: $white;
      color: $lightblue;
    }

    &.blue {
      background: $lightblue;
      color: $white;
    }
  }

  &.blue {
    border-color: $lightblue;
    color: $lightblue;
  }

  &.white {
    border-color: $white;
    background: $white;
    color: $lightblue;
  }

  &.no-padding {
    padding: 0.35rem 0 0.35rem 0;
  }

  &.is-active {
    background: $blue;
  }

  &.fixed-width {
    @include media-breakpoint-up(md) {
      width: 220px;
      padding-left: 0.35rem;
      padding-right: 0.35rem;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
    min-width: 200px;
    //min-height: 48px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
    min-width: 240px;
  }
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.back-btn {
  color: $lightblue;
  text-decoration: underline;
}

/* img */

img {
  opacity: 0;

  .no-anim-images &.no-lazy {
    transition: none;
    opacity: 1;
    transform: none;
  }

  &.v-lazy-image-loaded,
  &.lazyloaded {
    opacity: 1;
  }

  &[lazy="loaded"] {
    opacity: 1;
  }

  &.no-lazy {
    opacity: 1;
  }

  &.no-anim {
    transition: none;
    opacity: 1;
    transform: none;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */

.slide-enter-active,
.slide-leave-active {
  transition-property: transition opacity;
  transition-duration: 0.4s;
  transition-timing-function: $easeInOut;
}

.slide-enter {
  transform: translateY(50%);
  opacity: 0;
}

.slide-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  @include base_transition();
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

.fade-dropdown-enter-active,
.fade-dropdown-leave-active {
  transition-property: transition opacity;
  transition-duration: 0.4s;
  transition-timing-function: $easeInOut;
  //transition-duration: 3;
}

.fade-dropdown-enter {
  opacity: 0;
  //transform: translate(-50%, 1rem) !important;
}

.fade-dropdown-leave-to {
  opacity: 0;
  //transform: translate(-50%, 1rem) !important;
}

.slidedown-enter-active,
.slidedown-leave-active {
  transition-property: transition opacity;
  transition-duration: 0.4s;
  transition-timing-function: $easeInOut;
}

.slidedown-enter {
  opacity: 0;
  transform: translate(0, 50%);
}

.slidedown-leave-to {
  opacity: 0;
  transform: translate(0, 50%);
}
