// ------------------------------------------------------------
// Wordpress
// ------------------------------------------------------------

.wordpress {
    @extend .font-base;

    p {
        > div {
            margin-top: 0;
            margin-bottom: 0;
            opacity: 0;
        }
    }

    li {
        list-style: inside;
    }

    h2 {

    }

    .wp-caption {
      width: 100% !important;
    }
    
    img {
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        opacity: 1;
        transform: scale(1);

        &.alignleft {
            margin-left: 0;
            margin-right: auto;
        }

        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }

        &.alignright {
            margin-left: auto;
            margin-right: 0;
        }
    }

    > * {
        margin-top: 0;
        margin-bottom: 1rem;
        
        @include media-breakpoint-up(md) {
            //margin-bottom: 35px;
        }
        
        &:last-child {
            //margin-bottom: 0;
        }
    }

    a {
      text-decoration: underline;
    }
}


.page {
    //background: $white;
    //color: $black;
   // padding: 2rem;
  
    @include media-breakpoint-up(md) {
      //padding: 3rem;
      padding-bottom: 5rem;
      margin-bottom: 3rem;
    }
  
    @include media-breakpoint-up(lg) {
      margin-top: -6rem;
      margin-bottom: 4rem;
    }
  
    @include media-breakpoint-up(xl) {
      //padding: 4rem;
      padding-bottom: 6rem;
      margin-bottom: 5rem;
    }
  }
  
  .page-content {
    margin-bottom: 2rem;
  
    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }
  
    @include media-breakpoint-up(lg) {
      max-width: 900px;
    }
  }