@import 'bootstrap/bootstrap';
@import 'libs/flickity';
@import 'libs/sanity';

body {
  background: $white;
  font-family: Helvetica, sans-serif;
}

a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 600;

  &:active,
  &:focus,
  &:hover {
    color: black;
  }
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  // font-size:120px;
  font-size: 6.25vw;
  font-weight: 700;
}

h3 {
  // font-size: 45px;
  letter-spacing: 0.5;
  font-size: 2.35vw;
  font-weight: 700;
}

span {
  display: block;
  font-weight: 700;
}

.btn,
button {
  display: block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 0%;
  background: #000;
  color: #fff;
  &:hover {
    color: #000;
    background: rgba(black, 0.03);
    transition: 0.3s ease-in-out all;
  }
}

// separator
.separator {
  margin-top: 0;
  margin-bottom: 25px;
  background: black;
  opacity: 1;

  &.big {
    height: 13px;
  }

  &.small {
    height: 2px;
  }
}

.card {
  &:hover {
    .card-image img {
      transform: scale(1.05);
      transition: 0.25s ease-in-out;
    }
  }
}

.card-content {
  span {
    &:hover {
      text-decoration: underline;
    }
  }
}

.taxonomy-title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.labels {
  border-top: 2px solid #000;
  padding-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.shop-category--column {
  margin-bottom: 100px;
  button {
    margin-top: -30px;
  }
}
